<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="person={firstName:'João' , lastName:'Silva'}">
    <p>Nome completo é {{person.firstName}} {{person.lastName}}</p>
    <p>Nome completo é <span ng-bind="person.firstName + ' ' + person.lastName"/></p>
</body>
</html>