<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="firstName='João da Silva'">

     
    <p>Primeiro exemplo: <br>
        Seu nome é <span ng-bind="firstName"></span></p> 
    <!--a variável firsName foi inicializa pela diretiva ng-init ao ser
    iniciada a aplicação, e logo depois usada atraves do bind com a tag
    span. Foi usado o span, pois o texto faria parte da frase, não sendo
    colocado direto no p como no exemplo anterior-->
    
    <p>Segundo exemplo: <br>
        Seu nome é {{firstName}}</p>
    <!--a mesma variável iniciada, porém usada como expressão-->

</div>

</body>
</html>