<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="uf=['SP', 'MT', 'RS', 'RJ', 'BA']">
    <!--neste primeiro exemplo a montagem da lista está fixa obtendo cada posição do array-->
    <ul>
        <li>{{uf[0]}}</li>
        <li>{{uf[1]}}</li>
        <li>{{uf[2]}}</li>
        <li>{{uf[3]}}</li>
        <li>{{uf[4]}}</li>    
    </ul>
    <!--usando a diretiva ng-repeat pode repetir um tag html com for-each onde a variavel estado 
    recebe um novo valor do array uf a cada loop-->
    <ul>
        <li ng-repeat="estado in uf">
            {{estado}}
        </li>
    </ul>
</body>
</html>