<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div data-ng-app="" data-ng-init="firstName='João da Silva'">

     
    <p>Primeiro exemplo: <br>
        Seu nome é <span ng-bind="firstName"></span></p> 
    <p>Segundo exemplo: <br>
        Seu nome é {{firstName}}</p>
    <!--igual ao exemplo anterior, com excessão que a DIV foi usada com o prefixo data
    para data-ng-app e data-ng-init, isto porque ao usar 'data' não ocorrerá erro com validadores de html5-->

</div>

</body>
</html>