<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="myCol='lightblue';qtde=5; price=2">
    <p>Apresentando numeros {{ 5 + 5}}</p>
    <input style="background-color: {{myCol}}" ng-model="myCol">
    <p>Total é {{qtde * price}}</p>
    <p>Total é <span ng-bind="qtde * price"/></p>

    <!--as variáveis são declaradas e inicializadas separadas por ';'
        O numeros sao somados no primeiro exemplo, depois a mesma cor 
        atribuida em myCol é usada para colorir o input e apresentar o 
        texto no campo, e depois a qtde e price multiplicados  com 
        expressions e ng-bind.-->
</div>

</body>
</html>