<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="">
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>
  <!--o input foi criado com a variavel 'name' que foi posteriormente
  usada como variável entre chaves duplas. Neste caso o valor digitado 
  no input poderá ser apresentado em qualquer parte da página desde que
  colocado entre as chaves duplas-->
</div>

</body>
</html>