<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<!--a aplicação e controllers são definidas-->   
<div ng-app="myApp" ng-controller="myCtrl">
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <p>
        Full Name: {{firstName + " " + lastName}}
    </p>
</div>

<!--Neste script obtemos a aplicação e atribuimos a uma variavel app
a partir da app informa-se qual será o funcionamento da controller, que
neste caso atribui valores as variáveis definidas no escopo desta página
logo acima no inputs-->
<script>
    var app = angular.module('myApp',[])
    app.controller('myCtrl', function($scope) {
        $scope.firstName="João";
        $scope.lastName="Silva";
    });
</script>

</body>
</html>