<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="pontos=[4, 6, 9, 10, 18]">
    <p>Nome completo é {{pontos[3]}}</p>
    <p>Nome completo é <span ng-bind="pontos[3]"/></p>
</body>
</html>