<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
    <!--Neste exemplo ocorre o bind do input name com o tag p, então
    ao digitar o valor no campo automaticamente será apresentando o valor
    no parágrafo-->
</div>

</body>
</html>