<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

    <!--foram declaradas o app e controller na div-->
<div ng-app="myApp" ng-controller="myCtrl">
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <p>
        Full Name: {{fullName()}}
    </p>

</div>
<script>
    /*a variável app obtem o app declado na div, inclui a controller
    que fica responsável por tratar os dados do app
    o tratamento é de iniciar as variáveis de escopo e a função concatena
    os atributos*/
    var app = angular.module("myApp",[]);
    app.controller('myCtrl', function($scope){
        $scope.firstName = "João";
        $scope.lastName = "Maria";
        $scope.fullName = function(){
            return $scope.firstName + " " + $scope.lastName;
        }    
    });
</script>

</body>
</html>