<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

    <!--foram declaradas o app e controller na div-->
<div ng-app="myApp" ng-controller="myCtrl">
    <h1 ng-click="changeName()">{{firstName}}</h1>
    <!--incluíndo um click neste h1 que chamará a função logo abaixo-->
</div>
<script>
    /*a variável app obtem o app declado na div, inclui a controller
    que fica responsável por tratar os dados do app
    o tratamento é de iniciar as variáveis de escopo e a função que alterna entre os 
    nome a cada click em h1*/
    var app = angular.module("myApp",[]);
    app.controller('myCtrl', function($scope){
        $scope.firstName = "João";
        $scope.nextName = "Maria";
        $scope.changeName = function(){
            let actualName = $scope.firstName;
            $scope.firstName = $scope.nextName;
            $scope.nextName = actualName;
        }    
    });
</script>

</body>
</html>