<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

    <!--foram declaradas o app e controller na div-->
<div ng-app="myApp" ng-controller="myCtrl">
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <p>
        Full Name: {{fullName()}}
    </p>

</div>
<script src="002.03personController.js"></script>
</body>
</html>