<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

    <!--foram declaradas o app e controller na div-->
<div ng-app="myApp" ng-controller="namesCtrl">
    <ul>
        <li ng-repeat="x in names">
            {{x.name}}, {{x.country}}
        </li>
    </ul>
</div>
<script src="002.04namesController.js"></script>
</body>
</html>